<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>WWW::3172::Crawler::WebInterface</title>
<link rel="stylesheet" href="/~doherty/crawler/css/style.css" />

<script type="text/javascript" src="/~doherty/crawler/javascripts/jquery.js"></script>

</head>
<body>
<% content %>
</body>
</html>
